{% extends 'layout.html' %} 

{% block title %}
Tuno
{% endblock %}



{% block songCard %} 
<!-- Music Carousel -->
<div class="main ">
  <div class="currentplaying">
    <p class="heading">Artists</p>
  </div>
  {% load static %}
  <script src="{% static 'Artists/js/artist.js' %}"></script>

  {% for artist in artist_list %}
  <div class='artist-div' id="{{artist.id}}" onclick="get_id({{artist}})">

    <h2 style="color:#F4D793;">{{artist.name}} </h2>
    <div>Song Count :<h5 style="color:green;     display: inline;"> {{artist.song_count}}  </h5></div>  
    <img width="20%" height="20%" style="border: 1px; border-radius: 10 0px;" src="media/{{ artist.image }}" alt="" />
  </div>

  {% endfor %}

  
</div>
</div>
</div>



{% endblock %}


